{{set . "title" "Pages"}}
{{template "header.html" .}}

<header class="hero-unit" style="background-color:#A9F16C">
	<div class="container">
		<div class="row">
			<div class="hero-text">
				<h1>Pages!</h1>
			</div>
		</div>
	</div>
</header>

<div class="container">
	<div class="row">
		<div class="span12">
			<ul>
				{{range .contents}}
					<li><a href="{{.Guid}}">{{.Title}}</a></li>
				{{end}}
			</ul>
		</div>
	</div>
</div>


<div class="container">
	<div class="row">
		<div class="span6">
			{{template "flash.html" .}}
		</div>
	</div>
</div>

{{template "footer.html" .}}
